<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <a class='navbar-brand' href='#'>Reddit Clone</a>

  <button
    class='navbar-toggler'
    type='button'
    data-toggle='collapse'
    data-target='#navbarSupportedContent'
    aria-controls='navbarSupportedContent'
    aria-expanded='false'
    aria-label='Toggle navigation'
  >
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item active'>
        <a class='nav-link' href='/'>Home</a>
        {{#if currentUser}}
          <a class='nav-link' href='/logout'>Sign out</a>
        {{else}}
          <a class='nav-link' href='/sign-up'>Sign Up</a>
          <a class='nav-link' href='/login'>Log in</a>
        {{/if}}
      </li>
    </ul>
  </div>
</nav>
{{#if sessionFlash}}
  <div
    class='alert alert-{{sessionFlash.type}} alert-dismissible fade show'
    role='alert'
  >
    {{sessionFlash.message}}
    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
{{/if}}