<div>
  <fieldset>
    <legend>{{legendText}}</legend>
    <p>
      <label for='username'>Username</label><br />
      <input type='text' name='username' value='{{user.username}}' />
    </p>
    <p>
      <label for='password'>Password</label><br />
      <input type='text' name='password' value='{{user.password}}' />
    </p>
  </fieldset>

  <p>
    <button type='submit'>{{buttonText}}</button>
  </p>
</div>